.App {
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard",
    "ChalkboardSE-Regular", sans-serif;
  padding: 1em;
}

.App__game-field-wrapper {
  margin: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  user-select: none;
  touch-action: none;
  max-width: 100%;
  overflow: auto;
  position: relative;
  display: inline-block;
}

.Game-object__zone {
  position: relative;
  display: block;
}

.Game-object__background {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #eaedee 1px, transparent 1px),
    linear-gradient(to bottom, #eaedee 1px, transparent 1px);
}

.Game-object__rect {
  fill: transparent;
  stroke-linejoin: round;
  stroke-width: 2px;
}

.Ship--draggable:hover {
  stroke-width: 3px;
  cursor: grab;
}

.Ship--dragging {
  fill: rgba(0, 0, 255, 0.1);
  stroke-width: 3px;
}
